__pycache__
migrations/
*.sqlite3
dump.rdb
logs.*
pyclients/
library_management/static/
library_management/staticfiles/
library_management/dump.rdb
/env/
library_management/logs.txt
library_management/.env
