bin/
/lib/
/lib64/
pyvenv.cfg
include/
__pycache__
migrations/
db.sqlite3
pyclients/
library_management/staticfiles
library_management/static/
library_management/staticfiles/
library_management/.env
library_management/db1.sqlite3
library_management/dump.rdb
